@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Open+Sans:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Open Sans', sans-serif;
}

.banner-big {
    background: url('https://www.datocms-assets.com/34299/1673547398-h9-hero-test-primary-lg.png?auto=format&fit=max&ixlib=react-9.5.4&w=768&h=642&dpr=1&q=75') #d7e0f1;
    background-size: 45%;
    background-repeat: no-repeat;
    background-position: bottom center;
}

.banner {
    background: url('https://www.datocms-assets.com/34299/1673547398-h9-hero-test-primary-lg.png?auto=format&fit=max&ixlib=react-9.5.4&w=768&h=642&dpr=1&q=75') #d7e0f1;
    background-repeat: no-repeat;
    background-position: bottom center;
}

.banner-small {
    background: url('https://www.datocms-assets.com/34299/1673547398-h9-hero-test-primary-lg.png?auto=format&fit=max&ixlib=react-9.5.4&w=768&h=642&dpr=1&q=75') #d7e0f1;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom center;
}

.jd-bg {
    background: url('https://nzxt.com/assets/cms/34299/1672872272-nvidia-4070ti-banner-dark-primary-m.png?auto=format&fit=max&h=550&w=384');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom right;
}

.jd-bg-mobile {
    background: url('https://nzxt.com/assets/cms/34299/1672872272-nvidia-4070ti-banner-dark-primary-m.png?auto=format&fit=max&h=550&w=384');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom center;
}

.gaming-gradient {
    background-image: linear-gradient(#1c1d1f 40% , #243f20);
}

.streaming-gradient {
    background-image: linear-gradient(#1c1d1f 40% , #20474f);
}

.creator-gradient {
    background-image: linear-gradient(#1c1d1f 40% , #341a3d);
}

/* 120% */